<!-- <div id="step2" class="step-container">
                <h2>Step 2: Upload PNR Passenger</h2>
                <!-- <form method="POST" enctype="multipart/form-data" action="/" onsubmit="event.preventDefault(); nextStep();"> -->
                    <label for="PNRP">PNR Passenger</label>
                    <input type="file" name="PNRP" accept=".csv"><br>
                    <!-- <input type="hidden" name="current_step" value="2"> -->
                    <!-- <button type="submit">Next</button> -->
                <!-- </form> -->
            </div>
            
            <div id="step3" class="step-container">
                <h2>Step 3: Upload PNR Booking</h2>
                <!-- <form method="POST" enctype="multipart/form-data" action="/"  onsubmit="event.preventDefault(); nextStep();"> -->
                    <label for="PNRB">PNR Booking</label>
                    <input type="file" name="PNRB" accept=".csv"><br>
                    <!-- <input type="hidden" name="current_step" value="3"> -->
                    <!-- <button type="submit">Next</button> -->
                <!-- </form> -->
            </div>
            
            <div id="step4" class="step-container">
                <h2>Step 4: Upload Inventory</h2>
                <!-- <form method="POST" enctype="multipart/form-data" action="/" onsubmit="event.preventDefault(); nextStep();"> -->
                    <label for="INV">Inventory</label>
                    <input type="file" name="INV" accept=".csv"><br>
                    <!-- <input type="hidden" name="current_step" value="4"> -->
                    <!-- <button type="submit">Next</button> -->
                <!-- </form> -->
            </div>